.search-bar {
  padding: 20px 30px;
  background-color: #fff;

  .search-input {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 50px;
    padding: 20px 30px;

    .search-icon {
      font-size: 32px;
      color: #999;
      margin-right: 15px;
    }

    .placeholder {
      font-size: 28px;
      color: #999;
    }
  }
}
