.category-grid {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 20px 10px;

  .category-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;

    .category-icon {
      width: 100px;
      height: 100px;
      background-color: #f5f5f5;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .icon-text {
        font-size: 48px;
      }
    }

    .category-name {
      font-size: 24px;
      color: #333;
      text-align: center;
    }
  }
}
